body{
  background-color: #6F90A2;
  color: #00362B;
  margin: 0px;
}

.Nav {
  float: right;
  width: 100%;
  position: fixed;
  top: 0px;
  display: inline-block;
  background-color: #113B51;
  height: 10vh;
  text-align: center;
  font-size: 1.5em;
  text-overflow: clip;
  cursor: alias;
  opacity: 0.8;
}

.Nav-Items {
  opacity: 1;
}

.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 7vh;
  background-color: #113B51;
  cursor: pointer;
  opacity: 0.8;
}

.Footer img {
  width: 5vh;
}

.app-body {
  margin-top: 20vh;
  font-size-adjust: auto;
  margin: auto;
  margin-bottom: 15vh;
  min-width: 80%;
  width: 100%;
}

.app-body h1 {
  font-size: 4em;
}

.app-body p {
  font-size: 1.3em;
  padding: 2.5vh auto;
  overflow: hidden;
}

.content {
  max-width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 2.5vh;
  border: .5vh solid white;
  border-radius: 10px;
  border-color: rgba(255,255,255, 0.7);
  padding: 2.5vh;
}

.content ul {
  list-style-type: none;
  text-align: left;
  margin-left: 40%;
  font-size:
}

.content li:before {
  content: "🏋️ - ";
}

.line-separator {
  margin:auto;
  height:1px;
  width: 80%;
  background:#717171;
  border-bottom:1px solid white;
}

.Home, .About, .Training, .Trainers, .Contact, .Facilities {
  min-height: 72.5vh;
  min-width: 60%;
  max-width: 80%;
  padding-top: 10vh;
  height: auto;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.Home {
  width: 100%;
  height: 30vh;
}

.Trainers img {
  clear: left;
  height: 20vh;
}

.Trainers p {
  padding: auto;
}

.Trainers h1 {
  margin: auto;
}

.nav-icon {
  margin-left: 20%;
  font-size: 2em;
  margin: auto;
  text-align: left;
  align-content: space-around;
  color: #6F90A2;
}

.Nav-Table {
  margin-left: 20vw;
  color: #6F90A2;
  display: table-row;
  cursor:pointer;
  margin: auto;
  opacity: 0.95;
}

td:hover {
  color: #113B51;
  background-color: #6F90A2;
  margin: 0 5vh 0 5vh;
  opacity: 1;
}


.Contact-Details {
  max-width: 80%;
  margin: auto;
  padding-bottom: 15vh;
}
