body {
  /*background-color: #EBEBEC;*/
  color: #232C33;
  margin: 0px;
  width: 100%;
  overflow: hidden;
  /*font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
}

.nav {
  padding-top: 2.5vh;
  width: 100%;
  position: fixed;
  top: 0px;
  display: inline-block;
  background-color: black;
  min-height: 10vh;
  margin-left: 0;
  /*text-align: center;*/
  font-size: 1em;
  /*text-overflow: clip;*/
  opacity: 1;
  z-index: 100;
}

.Nav-Item {
  cursor: pointer;
  margin: auto;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
}

.Nav-Item h2 {
  padding-bottom: 0px;
  font-size: 1em;
  margin: 0;
}

.Nav-Items {
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-block;
}

.Nav-Icon {
  float: right;
  cursor: pointer;
  /*position: fixed;*/
  margin-top: 0;
  font-size: 2em;
  /*margin-left: 90%;*/
}

.list-item:before {
  content: "🏋️ - ";
  text-align: left;
}

.jam-icon {
  width: 40px;
  height: 40px;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
	font-size: 0.5em;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  overflow: auto;
}

li {
  list-style-type: none;
}

.Home {
  margin-top: 10vh;
  text-align: center;
  font-size: 3em;
  z-index: 0;
}

.About {
  margin-top: 100px;
}

.content {
  font-size: 1.4em;
  margin: auto;

}

.container {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.title, .subtitle {
  font-size: 3em;
}

.profile-image {
  /*width: 300px;*/
  /*height: 70vh;*/
  margin: auto;
  padding: auto;
}

.Home {
	background-image: url("./images/splash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
	box-shadow: 5 5 20px #C3C5C7;
	color: white;

}
.map {
  height: 100%;
  width: 100%;
}

@media (orientation: portrait) {
  .Home {
    background-image: url("./images/splashTwo.jpg");

  }
  .map {
    height: 50vh;
    width: 80vw;
    margin: auto;
    padding: auto;
  }
}

.welcome-title {
  padding-top: 15vh;
}

.line-separator {
  margin:auto;
	margin-bottom: 10vh;
  height:.5vh;
  width: 80%;
  background:#232C33;
  border-bottom:1px solid white;
}

h2 {
  font-size: 2em;
}

h1 {
  font-size: 3em;
}
