body {
  background-color: #EBEBEC;
  color: #232C33;
  margin: 0px;
  width: 100%;
  /*font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
}

.nav {
  padding-top: 2.5vh;
  width: 100%;
  position: fixed;
  top: 0px;
  display: inline-block;
  background-color: #73787D;
  min-height: 10vh;
  margin-left: 0;
  /*text-align: center;*/
  font-size: 1em;
  /*text-overflow: clip;*/
  opacity: 1;
  z-index: 100;
}

.Nav-Item {
  cursor: pointer;
  margin: auto;
  padding-left: 2.5vh;
  padding-right: 2.5vh;
}

.Nav-Item h2 {
  padding-bottom: 0px;
  font-size: 1em;
  margin: 0;
}

.Nav-Items {
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-block;
}

.Nav-Icon {
  float: right;
  cursor: pointer;
  /*position: fixed;*/
  margin-top: 0;
  font-size: 2em;
  /*margin-left: 90%;*/
}

.content li:before {
  content: "🏋️ - ";
}

.content ul {
  width: 80%;
	font-size: 1.4em;
  list-style-type: none;
  text-align: left;
	border-color: rgba(195,197,199, 0.7);
}

.Home {
  margin-top: 10vh;
  text-align: center;
  font-size: 3em;
  z-index: 0;
}
